h1,
div {
    margin-top: 3%;
    text-align: center;
}

h2 {
    text-align: center;
    color: rgb(18, 169, 189);
    ;
}



@media screen and (max-width:700px) {
    
    form {
   
        display: flex;
        flex-direction: column;
        width: 200px;
        margin-right: auto; margin-left: auto;
    }
}